body {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background: url("imgs/background 1.png");
    background-size: cover;
}

.container {
    max-width: 1076px;
    padding: 46px 20px 15px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.logo-link {
    display: flex;
    align-items: end;
    gap: 8px;
}

.logo-img:nth-of-type(2) {
    display: none;
}

.logo-link:hover .logo-img:nth-of-type(2) {
    display: block;
}

.logo-link:hover .logo-img:nth-of-type(1) {
    display: none;
}

.logo-link:hover .logo-txt {
    color: #F26522;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-txt h1 {
    font-size: 29px;
    line-height: 29px;
}

.logo-txt p {
    font-size: 18px;
    line-height: 18px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 20px;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 3px;
}
.mail,
.phone{
    transition-duration: 0.5s;
}

.mail:hover,
.phone:hover {
    color: #F26522;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
}

.main-block-img {
    max-width: 300px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.main-block-title {
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    transition-duration: 0.5s;
}

.main-block:hover .main-block-title {
    color: #F26522;
}

.main-block-orange {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 7px 14px 15px 16px;
    background-color: #F26522;
    color: #FFFFFF;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    transition-duration: 0.5s;
}

.main-block:hover .main-block-orange {
    bottom: 0;
}

.orange-price p {
    font-size: 10px;
    line-height: 10px;
}

.orange-price h3 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}

.orange-view {
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    position: relative;
    margin-right: 21px;
}

.orange-view:after {
    content: "";
    width: 5px;
    height: 10px;
    background: url("imgs/vector 1.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: -16px;
    bottom: 2px;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    margin-top: 50px;
    text-align: center;
}